Repository neuroglia-io/cloud-shapes, pull requests merged in 2025-02, with the labels that each got.

#7 Fix data models, which suffered a regression in previous PRs regarding non-nullable properties not being initialized
  src/CloudShapes.Api/Program.cs
  src/CloudShapes.Data/Models/CloudEventFilterDefinition.cs
  src/CloudShapes.Data/Models/CloudEventTriggerDefinition.cs
  src/CloudShapes.Data/Models/ProjectionIndexDefinition.cs
  src/CloudShapes.Data/Models/ProjectionTriggerCollection.cs
  src/CloudShapes.Data/Models/ProjectionType.cs
Labels: weight: 1, priority: high, fix, regression

#8 Add a new service used to provision the application's database
  src/CloudShapes.Api/Program.cs
  src/CloudShapes.Application/Configuration/DatabaseOptions.cs
  src/CloudShapes.Application/Configuration/DatabaseProvisioningOptions.cs
  src/CloudShapes.Application/Services/DatabaseProvisioner.cs
  src/CloudShapes.Application/Usings.cs
  src/CloudShapes.Data/CloudShapes.Data.csproj
  src/CloudShapes.Data/Models/CloudEventCorrelationDefinition.cs
  src/CloudShapes.Data/Models/CloudEventCreateTriggerDefinition.cs
  src/CloudShapes.Data/Models/CloudEventFilterDefinition.cs
  src/CloudShapes.Data/Models/CloudEventTriggerDefinition.cs
  src/CloudShapes.Data/Models/CloudEventUpdateTriggerDefinition.cs
  src/CloudShapes.Data/Models/DocumentMetadata.cs
  src/CloudShapes.Data/Models/JsonPatchOperation.cs
  src/CloudShapes.Data/Models/ProjectionIndexDefinition.cs
  src/CloudShapes.Data/Models/ProjectionRelationshipDefinition.cs
  src/CloudShapes.Data/Models/ProjectionTriggerCollection.cs
  src/CloudShapes.Data/Models/ProjectionType.cs
  src/CloudShapes.Data/Models/ProjectionTypeMetadata.cs
  src/CloudShapes.Data/Serialization/Bson/JsonSchemaBsonSerializer.cs
  src/CloudShapes.Data/Usings.cs
Labels: enhancement, weight: 2, priority: normal, api

#25 Prevent duplicate relationships when adding multiple entries in the Dashboard
  src/CloudShapes.Dashboard/Components/RelationshipEditorModal/RelationshipEditorModal.razor
Labels: bug, dashboard, weight: 1, priority: high

#26 Update the `IRepository` and implementation by adding methods used to patch projections
  src/CloudShapes.Application/Commands/CloudEvents/IngestCloudEventCommandHandler.cs
  src/CloudShapes.Application/Commands/ProjectionTypes/CreateProjectionTypeCommandHandler.cs
  src/CloudShapes.Application/Commands/Projections/CreateProjectionCommandHandler.cs
  src/CloudShapes.Application/Commands/Projections/DeleteProjectionCommandHandler.cs
  src/CloudShapes.Application/Services/Interfaces/IRepository.cs
  src/CloudShapes.Application/Services/Repository.cs
  src/CloudShapes.Application/Services/SchemaValidator.cs
  src/CloudShapes.Application/Usings.cs
  src/CloudShapes.Data/Problems.cs
  src/CloudShapes.Data/Usings.cs
Labels: enhancement, weight: 2, priority: normal, api

#29 Fix the `DatabaseProvisioner` to prioritize `ProjectionTypes` to provision using the Kahn's algorithm
  src/CloudShapes.Application/Commands/ProjectionTypes/CreateProjectionTypeCommandHandler.cs
  src/CloudShapes.Application/Services/DatabaseProvisioner.cs
Labels: weight: 1, priority: high, fix, api

#32 Fix script encoding and line endings
  .gitattributes
  deployments/docker-compose/config/mongo/mongo-init.sh
Labels: weight: 1, priority: high, fix

#36 Fix `decimal` BSON deserialization
  src/CloudShapes.Application/Commands/CloudEvents/IngestCloudEventCommandHandler.cs
  src/CloudShapes.Application/Extensions/IJsonSerializerExtensions.cs
  src/CloudShapes.Application/Extensions/QueryOptionsExtensions.cs
  src/CloudShapes.Application/Services/Repository.cs
  src/CloudShapes.Data/Serialization/Bson/DecimalBsonSerializer.cs
Labels: weight: 1, priority: high, fix, api

#37 Improve pager display in the Dashboard
  src/CloudShapes.Dashboard/Components/Pager/Pager.razor
  src/CloudShapes.Dashboard/Components/Pager/Store.cs
  src/CloudShapes.Dashboard/Pages/Projections/List/View.razor
Labels: enhancement, dashboard, weight: 1, priority: low

#38 Fix the `release.yml` workflow by granting it permission to write contents
  .github/workflows/release.yml
  src/CloudShapes.Api/Dockerfile
Labels: weight: 1, priority: high, fix, cicd, api

#42 Add the presentation that was given to the CNCF Serverless WG on February 13th, 2025
  CloudShapes.sln
  community/presentations/13-01-25/CloudShapes.pptx
  community/presentations/13-01-25/README.md
Labels: community

#43 Fix the `ProjectionApiClient.PatchAsync` method by replacing its `UpdateProjectionCommand` argument by `PatchProjectionCommand`
  src/CloudShapes.Api.Client/Services/Interfaces/IProjectionsApiClient.cs
  src/CloudShapes.Api.Client/Services/ProjectionsApiClient.cs
Labels: weight: 1, priority: high, fix, api-client

#44 Change the return type of all `projection` related commands to `IDictionary<string, object>`
  src/CloudShapes.Api.Client/Services/Interfaces/IProjectionsApiClient.cs
  src/CloudShapes.Api.Client/Services/ProjectionsApiClient.cs
  src/CloudShapes.Api/Controllers/ProjectionsController.cs
  src/CloudShapes.Application/Commands/Projections/CreateProjectionCommandHandler.cs
  src/CloudShapes.Application/Commands/Projections/DeleteProjectionCommandHandler.cs
  src/CloudShapes.Application/Commands/Projections/PatchProjectionCommandHandler.cs
  src/CloudShapes.Application/Commands/Projections/UpdateProjectionCommandHandler.cs
  src/CloudShapes.Application/Queries/Projections/GetProjectionQueryHandler.cs
  src/CloudShapes.Application/Queries/Projections/ListProjectionsQueryHandler.cs
  src/CloudShapes.Dashboard/Components/CreateProjectionModal/CreateProjectionModal.razor
  src/CloudShapes.Dashboard/Pages/About/View.razor
  src/CloudShapes.Dashboard/Pages/Projections/List/View.razor
  src/CloudShapes.Dashboard/Program.cs
  src/CloudShapes.Dashboard/wwwroot/img/github-logo-white.png
  src/CloudShapes.Integration/Commands/Projections/CreateProjectionCommand.cs
  src/CloudShapes.Integration/Commands/Projections/PatchProjectionCommand.cs
  src/CloudShapes.Integration/Commands/Projections/UpdateProjectionCommand.cs
  src/CloudShapes.Integration/Queries/Projections/GetProjectionQuery.cs
  src/CloudShapes.Integration/Queries/Projections/ListProjectionsQuery.cs
Labels: dashboard, weight: 2, priority: high, fix, api, api-client

#45 Enable projection edition in the Dashboard
  src/CloudShapes.Api/Program.cs
  src/CloudShapes.Dashboard/Components/MonacoEditor/MonacoEditor.razor
  src/CloudShapes.Dashboard/Components/Pager/Pager.razor
  src/CloudShapes.Dashboard/Components/Pager/Store.cs
  src/CloudShapes.Dashboard/Components/ProjectionDetails/ProjectionDetails.razor
  src/CloudShapes.Dashboard/Components/ProjectionDetails/State.cs
  src/CloudShapes.Dashboard/Components/ProjectionDetails/Store.cs
  src/CloudShapes.Dashboard/Pages/Projections/List/View.razor
  src/CloudShapes.Dashboard/Usings.cs
  src/CloudShapes.Dashboard/wwwroot/css/app.css
  src/CloudShapes.Dashboard/wwwroot/css/app.min.css
  src/CloudShapes.Dashboard/wwwroot/css/app.scss
  src/CloudShapes.Dashboard/wwwroot/css/text-editor.scss
Labels: enhancement, dashboard, weight: 2, priority: high

#46 Improve projection details view in the Dashboard
  src/CloudShapes.Dashboard/Components/ProjectionDetails/ProjectionDetails.razor
  src/CloudShapes.Dashboard/Components/ProjectionDetails/ProjectionDetails.razor.css
  src/CloudShapes.Dashboard/Components/ProjectionDetails/ProjectionDetails.razor.min.css
  src/CloudShapes.Dashboard/Components/ProjectionDetails/ProjectionDetails.razor.scss
  src/CloudShapes.Dashboard/Pages/ProjectionTypes/Create/View.razor
  src/CloudShapes.Dashboard/Pages/ProjectionTypes/List/View.razor
  src/CloudShapes.Dashboard/Pages/Projections/List/State.cs
  src/CloudShapes.Dashboard/Pages/Projections/List/Store.cs
  src/CloudShapes.Dashboard/Pages/Projections/List/View.razor
  src/CloudShapes.Dashboard/StatefulComponent.cs
  src/CloudShapes.Dashboard/compilerconfig.json
  src/CloudShapes.Dashboard/wwwroot/css/app.css
  src/CloudShapes.Dashboard/wwwroot/css/app.min.css
  src/CloudShapes.Dashboard/wwwroot/css/app.scss
Labels: enhancement, dashboard, weight: 2, priority: normal
